.message-container {
  width: 400px;
  height: 500px;
  overflow-y: auto; /* Enable scrolling if content overflows */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.otherUserInfo {
  display: flex;
  flex-direction: row;
  font-weight: bolder;
}
.otherUserImg {
  border-radius: 100%;
  
}
