/* Discussion.css */

.discussion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.post-profile-picture {
  width: 40px !important; /* Adjust the width as needed */
  height: 40px !important; /* Adjust the height as needed */
  border-radius: 50%; /* Make it circular */
  margin-right: 10px;
}

.post-container {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}


.create-post-container {
  position: relative; /* Add position relative */
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.create-post-container h2 {
  margin-bottom: 10px;
}

textarea {
  width: calc(100% - 40px); /* Adjust for button width and margin */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  margin-bottom: 10px;
}

.post-button {
  position: absolute; /* Position the button absolutely */
  right: 30px; /* Align to the right side */
  top: 70%; /* Adjust the top position */
  transform: translateY(-50%); /* Adjust for vertical centering */
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.post-button:hover {
  background-color: transparent;
}

.icon {
  width: 20px;
  height: 20px;
}

/* Post.css */


.post {
  display: flex; /* Use flexbox layout */
  align-items: flex-start; /* Align items at the start of the cross axis */
  margin-bottom: 20px;
}

.post-header {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Align items at the center of the cross axis */
  margin-right: 10px;
}


.post-content {
  flex: 1; /* Take up remaining space */
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: large;
}


.post-actions {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.post-action {
  margin-right: 10px;
  cursor: pointer;
}

.post-action:hover {
  color: #007bff;
}

.comment-input {
  width: calc(100% - 30px);
  height: 20%;
  margin-right: 10px;
}

.comment-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.comment-button:hover {
  background-color: #0056b3;
}