.viewTypeBar {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.viewTypeChoice {
    flex: 1;
    min-width: 0;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
}

.viewTypeChoice:hover {
    font-weight: bold;
}

.selectedView {
    background-color: #4c61af;
    font-weight: bold;
}