.viewTypeBar {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.viewTypeChoice {
    flex: 1;
    min-width: 0;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
}

.viewTypeChoice:hover {
    font-weight: bold;
}

.selectedView {
    background-color: #4c61af;
    font-weight: bold;
}
/* Night Mode Styles */
.night-mode .profile-container {
    background-color: #3f3939; /* Dark background color */
    color: #ffffff; /* Light text color */
  }
  .night-mode .profile-section {
    background-color: #3f3939; /* Dark background color */
    color: #ffffff; /* Light text color */
  }



