.viewTypeBar {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.viewTypeChoice {
    flex: 1;
    min-width: 0;
    text-align: center;
    cursor: pointer;
}

.viewTypeChoice:hover {
    font-weight: bold;
}