.container {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .record-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .record-button.recording {
    background-color: #dc3545;
  }
  
  .video-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .video {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
  }
  .recorded-video {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
  }
  
  .timer-container {
    text-align: center;
  }
  
  .timer {
    font-size: 1.5rem;
    color: #fff;
    background-color: #007bff; /* Blue color */
    border-radius: 50%;
    padding: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Adding shadow for depth */
  }
  
  .timer::before {
    content: "";
    position: absolute;
    border: 8px solid transparent;
    border-bottom-color: #007bff; /* Blue color */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the triangle is above the background */
  }
  
  .timer::after {
    content: "";
    position: absolute;
    border: 8px solid transparent;
    border-bottom-color: #fff; /* White color */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the triangle is above the background */
  }
  
  .option-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .download-button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .download-button:hover {
    background-color: #218838;
  }
  
  .rerecord-button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .rerecord-button:hover {
    background-color: #c82333;
  }

  .upload-button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .upload-button:hover {
    background-color: #0062CC;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }