.navbar-whole {
  position: fixed; /* Ensure Navbar stays fixed */
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 4px #888888;
  width: 100vw;
  background-color: #001F3F; /* Sky blue background color */
  z-index: 1000; /* Ensure Navbar stays on top of other content */
}
.navbar_toggle {
  cursor: pointer;
}

.navbar-homeImage {
  height: 5rem;
}

.navbar-profileImage {
  height: 3rem;
  margin-right: 10px;
}
.navbar-profileImage:hover {
  background-color: rgb(154, 220, 237);
}

.navbar-homeImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 25px;
}

.navbar-homeText {
  font-size: 1.2rem; /* You can adjust the font size as needed */
  text-align: center; /* Center the text */
  font-weight: 400;
  color:#ffffff;
}

.navbar-otherLinks {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: left;
  margin-right: 30px;
}

.navbar-searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;
  border-radius: 5px;
  border-style: solid;
  border-color: #c3c5c7;
  border-width: 1px;
  height: 2.5rem;
  background-color: white; /* Set background color to white */
}

.navbar-searchbar-input {
  height: fit-content;
  width: 100px;
  background-color: white; /* Set background color to white */
  margin-right: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}


.navbar-searchbar-icon {
  margin-left: 3px;
  height: 1.5rem;
}

.navbar-clear-icon {
  margin-left: 3px;
  margin-right: 2px;
  height: 1rem;
  cursor: pointer;
}

.navbar-mic-icon {
  margin-left: 5px;
  margin-right: 2px;
  cursor: pointer;
  height: 1.5rem;
}

.navbar-searchbar-input {
  height: 2.5rem;
  width: 100px;
  background-color: transparent;
  margin-right: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.navbar-searchbar-input:focus {
  width: 100%;
  border: none;
  outline-color: none;
  border-radius: 5px;
}

.navbar-searchbar:focus-within {
  width: 60%;
  min-width: 150px;
}

.micModal {
  width: 50%;
  height: 50%;
}

.modalStuff {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.micModalTranscript {
  height: 100%;
  width: 100%;
}

.micModalFooter {
  display: flex;
  justify-content: space-between;
}

.micModalIcon {
  height: 2.5rem;
  cursor: pointer;
}

.micModalIcon:hover {
  background-color: #dadcde;
  border-radius: 5px;
}

.navbar-links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 50px;
}

.navbar-link {
  margin-right: 20px; /* Adjust the margin as needed */
  cursor: pointer;
  font-size: 1.2rem; /* Adjust the font size as needed */
  color: #333537;
  text-decoration: none;
  color: white;
  width: fit-content;
}

.navbar-link:hover {
  color: rgb(154, 220, 237) /* Adjust the hover color as needed */
}
/* Add this CSS for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff; /* Default background color */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 5px; /* Add border-radius for rounded corners */
}

/* Add this CSS to change the background color for night mode */
.night-mode .dropdown-content {
  background-color: #333; /* Dark background color for night mode */
}

/* Add this CSS for the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Add this CSS for the dropdown button */
.dropdown-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
