

.navbar-whole {
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 4px #888888;
  width: 100vw;
  background-color: #001F3F; /* Sky blue background color */
}

.navbar_toggle {
  cursor: pointer;
}

.navbar-homeImage {
  height: 5rem;
}

.navbar-profileImage {
  height: 3rem;
  margin-right: 10px;
}
.navbar-profileImage:hover {
  background-color: rgb(154, 220, 237);
}

.navbar-homeImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 25px;
}

.navbar-homeText {
  font-size: 1.2rem; /* You can adjust the font size as needed */
  text-align: center; /* Center the text */
  font-weight: 400;
  color:#ffffff;
}

.navbar-otherLinks {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: right;
  margin-right: 30px;
}

.navbar-searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;
  border-radius: 5px;
  border-style: solid;
  border-color: #c3c5c7;
  border-width: 1px;
  height: 2.5rem;
  background-color: white; /* Set background color to white */
}

.navbar-searchbar-input {
  height: fit-content;
  width: 100px;
  background-color: white; /* Set background color to white */
  margin-right: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}


.navbar-searchbar-icon {
  margin-left: 3px;
  height: 1.5rem;
}

.navbar-clear-icon {
  margin-left: 3px;
  margin-right: 2px;
  height: 1rem;
  cursor: pointer;
}

.navbar-mic-icon {
  margin-left: 5px;
  margin-right: 2px;
  cursor: pointer;
  height: 1.5rem;
}

.navbar-searchbar-input {
  height: 2.5rem;
  width: 100px;
  background-color: transparent;
  margin-right: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.navbar-searchbar-input:focus {
  width: 100%;
  border: none;
  outline-color: none;
  border-radius: 5px;
}

.navbar-searchbar:focus-within {
  width: 60%;
  min-width: 150px;
}

.micModal {
  width: 50%;
  height: 50%;
}

.modalStuff {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.micModalTranscript {
  height: 100%;
  width: 100%;
}

.micModalFooter {
  display: flex;
  justify-content: space-between;
}

.micModalIcon {
  height: 2.5rem;
  cursor: pointer;
}

.micModalIcon:hover {
  background-color: #dadcde;
  border-radius: 5px;
}

.navbar-links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 50px;
}

.navbar-link {
  margin-right: 20px; /* Adjust the margin as needed */
  cursor: pointer;
  font-size: 1.2rem; /* Adjust the font size as needed */
  color: #333537;
  text-decoration: none;
  color: white;
  width: fit-content;
}

.navbar-link:hover {
  color: rgb(154, 220, 237) /* Adjust the hover color as needed */
}

/* Add media query for mobile screens */
@media (max-width: 768px) {
  .navbar-whole {
    flex-direction: column; /* Stack items vertically */
  }

  .navbar-links-container {
    width: 100%; /* Make the container full width */
  }

  .navbar-links {
    width: 100%; /* Make the links full width */
    display: flex;
    flex-direction: column; /* Stack links vertically */
    align-items: center;
    margin-bottom: 20px; /* Add some space at the bottom */
  }

  .navbar-otherLinks {
    width: 100%; /* Make the otherLinks container full width */
    display: flex;
    justify-content: space-between; /* Space out items evenly */
    align-items: center; /* Align items to the center vertically */
    margin-bottom: 20px; /* Add some space at the bottom */
  }
}
