.resource-page {
    padding: 20px;
  }
  
  .category-container {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #000; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .resource-section {
    margin-top: 10px;
  }
  
  h2 {
    color: #333;
    margin-left: 10px; 
  }
  
  p {
    margin-bottom: 5px;
    margin-left: 10px; 
  }
  
  a {
    color: #3498db;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  /* Responsive Styling */
@media only screen and (max-width: 768px) {
  .resource-page {
    
  }
  
  .category-container {
    width: 90%;
  }

  h2 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  p {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}
  