.dropCoverImg {
    height: 40px;
    cursor: pointer;
    margin-right: 20px;
}

.dropCoverImg:hover{
    background-color: rgb(154, 220, 237);
    border-radius: 100px;
}

.dropCoverImgNotCircular {
    height: 40px;
    cursor: pointer;
    margin-right: 20px;
}

.dropCoverImgNotCircular:hover{
    background-color: rgb(154, 220, 237);
}

.dropdown-container {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: fit-content;
    min-width: 80px;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,.8);
    z-index: 1;
    text-align: center;
}
  
.dropdown-content p {
    cursor: pointer;
}
.dropdown-content p:hover {
    background-color: gainsboro;
}