.SearchPage {
    width: 100%;
    margin-bottom: 20px;
}

.searchResults {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust column width as needed */
    grid-gap: 10px;
    justify-content: start;
    justify-items: center;
  }