/* Join.css */
.join-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c6d8de;
  height: 100vh; /* Set height to cover the entire viewport */
  overflow: hidden; /* Prevent scrolling */
}

.join-content {
  text-align: center;
  color: #333;
  width: 90%;
  max-width: 600px;
}

.signup-box,
.login-box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.signup-button,
.login-button {
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 15px;
}

.signup-button {
  background-color: #4caf50;
  color: white;
}

.login-button {
  background-color: #3a8a3c;
  color: white;
}

.signup-button:hover,
.login-button:hover {
  filter: brightness(90%);
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .join-content {
    width: 100%;
  }

  .signup-box,
  .login-box {
    padding: 15px;
    margin: 10px 0;
  }

  .signup-button,
  .login-button {
    padding: 12px 24px;
    font-size: 18px;
    margin-top: 10px;
  }
}
