.tutorialSelectionContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.jsonContainer {
    box-sizing: border-box;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
}