.video-resume-page {
  width: 70%; 
  margin: 0 auto; 
}

h2 {
  color: #333;
}

p {
  margin-bottom: 20px;
}
.video-resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.option-cards-container {
  display: flex;
  gap: 50px; /* Increase the gap between cards */
  height: 50%;
  width: 100%;
  text-align: center;
  flex: 1 0 auto;
}

.option-card {
  width: 50%; /* Increase the width of the cards */
  height: 100%;
  min-height: 350px;
  min-width: 200px;
  background: #012548;
  border-radius: 30px; /* Increase border radius for rounded corners */
  box-shadow: 0px 0px 30px rgba(135, 206, 235, 0.3); /* Adjust box-shadow color */
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.option-card:hover {
  transform: translateY(-5px);
}

.option-card h3 {
  font-size: 36px; /* Increase font size of heading */
  color: #fff;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif; /* Change font family */
  font-weight: bold; /* Make the text bold */
}

.option-card p {
  font-size: 24px; /* Increase font size of paragraph */
  color: #fff;
  font-family: "Arial", sans-serif; /* Change font family */
}


/*************template page**********/
.template-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.card {
  width: 200px;
  margin: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #666;
}
.option-card.generate-pitch {
  background: #87ceeb; /* Sky blue color */
}


/*******StepCard******************/
.step-card {
  width: 350px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin: 20px auto;
}

.step-title {
  background-color: #001F3F;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.step-card .step-title h2 {
  color: white;
}

.step-title h2 {
  font-size: 28px;
  color: #333333;
  margin: 0;
}


.step-description h3 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
}

.bullet-list {
  font-size: 18px;
  color: #666666;
  list-style-type: none;
}

.bullet-list li {
  position: relative;
  margin-bottom: 10px;
}

.bullet-list li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #4caf50;
}

/***************Record page******************/
.container {
  max-width: 600px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.record-button {
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.record-button.recording {
  background-color: #dc3545;
}

.video-container {
  display: flex;
  justify-content: center;
}

.video {
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
}

.recorded-video-container {
  margin-top: 20px;
}

.recorded-video {
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
}

.download-button {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #218838;
}

.timer-container {
  text-align: center;
  margin-top: 20px;
}

.timer {
  font-size: 1.5rem;
  color: #fff;
  background-color: #007bff; /* Blue color */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Adding shadow for depth */
}

.timer::before {
  content: "";
  position: absolute;
  border: 8px solid transparent;
  border-bottom-color: #007bff; /* Blue color */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the triangle is above the background */
}

.timer::after {
  content: "";
  position: absolute;
  border: 8px solid transparent;
  border-bottom-color: #fff; /* White color */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensure the triangle is above the background */
}