body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.signup-page {
  position: absolute;
  top: 50%; /* Place the signup page vertically at the center */
  left: 50%; /* Place the signup page horizontally at the center */
  transform: translate(-50%, -50%); /* Center the signup page */
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-content {
  width: 80%;
  max-width: 400px;
  padding: 40px;
  background-color: #cadce5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 28px;
}

h3 {
  margin-top: 24px;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}

.passwordDiv {
  display: flex;
  align-items: center;
}

.signup-password {
  flex: 1;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}

.passwordSpace {
  width: 10px;
}

.showPasswordIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

p {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

p a {
  color: #0b456c;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}


/* Media Query for smaller screens */
@media (max-width: 768px) {
  .signup-page {
    height: 80vh;
    width: 100%; /* Make the container as wide as the screen */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;

  }

  .signup-content {
    width: 90%; /* Adjusted width for smaller screens */
    padding: 20px; /* Adjusted padding for smaller screens */
  }

  h2 {
    font-size: 24px; /* Decreased font size for smaller screens */
    margin-bottom: 20px; /* Adjusted margin for smaller screens */
  }

  h3 {
    font-size: 18px; /* Decreased font size for smaller screens */
    margin-top: 20px; /* Adjusted margin for smaller screens */
  }

  input,
  .signup-password {
    font-size: 14px; /* Decreased font size for smaller screens */
    height: 30px; /* Decreased height for smaller screens */
    margin-bottom: 10px; /* Adjusted margin for smaller screens */
  }

  .passwordSpace {
    width: 5px; /* Adjusted width for smaller screens */
  }

  .showPasswordIcon {
    width: 20px; /* Adjusted width for smaller screens */
    height: 20px; /* Adjusted height for smaller screens */
  }

  button {
    padding: 10px; /* Adjusted padding for smaller screens */
    font-size: 16px; /* Decreased font size for smaller screens */
  }

  p {
    font-size: 14px; /* Decreased font size for smaller screens */
    margin-top: 15px; /* Adjusted margin for smaller screens */
  }
}
