.signup-page {
    height: 100%;
    display: flex;
    justify-content: center;
}

.signup-content {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background-color: #DAF7FE;
    box-shadow: 0px 0px 5px #c3c5c7;
}

.passwordDiv {
    display: flex;
    align-items: center;
}

.signup-password {
    width: 100%;
}

.passwordSpace {
    width: 5px;
}

.showPasswordIcon {
    width: 30px;
    height: 20px;
    cursor: pointer;
}
