.about-us-page {
    text-align: center;
    width: 100%;
}
  
.heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}
  
.content {
  font-size: 18px;
  margin-bottom: 20px;
}
  
.team-section {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
  
.team-member {
  flex: 0 1 calc(33.33% - 20px);
  text-align: center;
}
  
.team-member-image {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
  
.member-name {
  font-size: 24px;
  margin-bottom: 10px;
  overflow-x: hidden;
}
  
.member-role {
  font-size: 18px;
  color: #666;
  overflow-x: hidden;
}
