.about-us-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.au-inclusify-logo {
    width: 170px;
}
.description-text {
    font-size: 22px; 
  }
  

