.about-us-page {
  text-align: center;
  width: 100%;
  max-width: 100vw;
  word-break: break-word;
}

.heading {
font-size: 32px;
font-weight: bold;
margin-bottom: 20px;
}

.content {
font-size: 18px;
margin-bottom: 20px;
}

.team-section {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}

.team-member {
text-align: center;
}

.team-member-image {
max-width: 250px;
max-height: 250px;
border-radius: 50%;
margin-bottom: 20px;
border: 5px solid #fff;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.member-name {
font-size: 24px;
margin-bottom: 10px;
overflow-x: hidden;
}

.member-role {
  font-size: 18px;
  color: #666;
}
.pop-up {
  animation: popUpAnimation 1s ease forwards;
  opacity: 0;
}

@keyframes popUpAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.about-us-page {
  text-align: center;
}

.content {
  opacity: 0;
  transition: opacity 1s ease;
}

.content.pop-up {
  opacity: 1;
}


