.userCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .75); 
    cursor: pointer;
    transition: 0.3s;
}

.userCardContainer:hover {
    background-color: cadetblue;
}

.userCardIMG {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
